/**
* This file provides the general structure of this site.
* There is no "minimal" version of this file; what you see is exactly what's included on your site.
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
  background-color: #D8ECC3;
  font-family: 'Open Sans', sans-serif;
}

/* Site Template */
#title h1 {
  text-align: center;
}

/* Navigation */
nav {
  background-color: #1C4905;
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
  width: 80%;
}

nav a {
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 5%;
  text-decoration: none;
  transition: 0.3s;
} 

nav a:hover {
  background-color: darkgray;
  transition: 0.3s;
}

/* Content Container */
#container {
  background-color: rgba(200,200,200,0.5);
  display: block;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  padding: 5%;
  width: 70%;
}

/* Footer */
footer {
  background-color: #CECECE;
  color: grey;
  display: block;
  font-size: 10px;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}
